<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/lib/css/link-font.css">
    <link rel="stylesheet" href="~/lib/css/style.css">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <title>Ваш ключ</title>
</head>

<body>
    @section scripts {
        <script>
            var screenSize = window.innerWidth;

            if (screenSize < 768) {
                document.getElementById("conditionalBlockMobile").style.display = "block";
                document.getElementById("conditionalBlockPC").style.display = "none";
            } else {
                document.getElementById("conditionalBlockMobile").style.display = "none";
                document.getElementById("conditionalBlockPC").style.display = "block";
            }
        </script>
    }
    <div id="conditionalBlockMobile">

        <section class="section-error" style="padding-top:50px">
            <div class="container">
                <div class="row">
                    <img class="section-error__image" src="~/lib/img/thank/1.png">
                    <div class="section-error__content" style="max-width: 600px">
                        <h1 class="title">Ваш ключ</h1>
                        <p class="text" style="margin-top: 25px;">
                            Скопируйте ключ ниже и вставте в 
                            <a style="color: #fff" href="@Url.Action("ToManual", "Home")">приложение Outline</a>
                            или нажмите на кнопку чтобы сделать это автоматически
                            <br>
                            <div style="border-radius: 10px; margin: auto; margin-top:15px; text-align: center;  font-weight: bold;
            flex-shrink: 0; background: #D9D9D9; display: flex; align-items: center;
            justify-content: center; max-width: 300px; padding: 10px;">
                                <p style="color: black; margin: 0; ">
                                    @ViewBag.Key1<wbr />@ViewBag.Key2<wbr />@ViewBag.Key3<wbr />@ViewBag.Key4
                                </p>
                            </div>
                            <a class="nav__link btn" style="margin-top: 20px; font-size: 20px"
                               href="@Url.Action("RedirectToProduct", "Telegram",
                            new{ link = @ViewBag.Key1 + @ViewBag.Key2 + @ViewBag.Key3 + @ViewBag.Key4})">Открыть в приложении</a>
                    </div>

                    <img class="section-error__image" src="~/lib/img/thank/2.png">
                </div>
            </div>
        </section>
    </div>
    <div id="conditionalBlockPC">
        <nav class="nav">
            <div class="container">
                <div class="row">
                    <a href="@Url.Action("Index", "Home")" class="logo">
                        <img src="~/lib/img/logo.png" class="logo__img">
                        <span class="logo__text">Fury VPN</span>
                    </a>
                    <ul class="nav__links">
                        <li>
                            <a class="nav__link link" href="#manual">Инструкция</a>
                        </li>
                        <li>
                            <a class="nav__link link" href="#tariffs">Тарифы</a>
                        </li>
                        <li>
                            <a class="nav__link link" href="https://t.me/furyvpnsupport" target="_blank">Поддержка</a>
                        </li>
                        <li>

                            <a class="nav__link link" href="@Url.Action("Index", "Home")" target="_blank">Выйти</a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="section-error" >
            <div class="container">
                <div class="row">
                    <img class="section-error__image" src="~/lib/img/thank/1.png">
                    <div class="section-error__content" style="max-width: 600px">
                        <h1 class="title">Ваш ключ</h1>
                        <p class="text" style="margin-top: 25px;">
                            Скопируйте ключ ниже и вставте в 
                            <a style="color: #fff" href="@Url.Action("ToManual", "Home")">приложение Outline</a>
                            или нажмите на кнопку чтобы сделать это автоматически
                            <br>
                            <div style="border-radius: 10px; margin: auto; margin-top:15px; text-align: center;  font-weight: bold;
            flex-shrink: 0; background: #D9D9D9; display: flex; align-items: center;
            justify-content: center; max-width: 300px; padding: 10px;">
                                <p style="color: black; margin: 0; ">
                                    @ViewBag.Key1<wbr />@ViewBag.Key2<wbr />@ViewBag.Key3<wbr />@ViewBag.Key4
                                </p>
                            </div>
                            <a class="nav__link btn" style="margin-top: 20px; font-size: 20px"
                               href="@Url.Action("RedirectToProduct", "Telegram",
                            new{ link = @ViewBag.Key1 + @ViewBag.Key2 + @ViewBag.Key3 + @ViewBag.Key4})">Открыть в приложении</a>
                    </div>

                    <img class="section-error__image" src="~/lib/img/thank/2.png">
                </div>
            </div>
        </section>
    </div>

  

    <script src="~/lib/js/jquery.min.js"></script>
</body>

</html>